<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">

  <variable name="logDirectory" value="${specialfolder:folder=ApplicationData}/VolumeKeeper/logs"/>

  <!-- Spring Boot-like format: timestamp level [thread] logger : message + exception -->
  <variable name="springBootLayout" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${pad:padding=-5:inner=${level:uppercase=true}} [${threadid:padding=5}] ${pad:padding=-40:inner=${logger:shortName=true}} : ${message}${onexception:${newline}${exception:format=tostring}}"/>

  <targets>
    <!-- Console target with Spring Boot-like format -->
    <target xsi:type="Console"
            name="console"
            layout="${springBootLayout}"
            detectConsoleAvailable="true" />

    <!-- File target with rotation and delayed flush -->
    <!-- https://github.com/NLog/NLog/wiki/File-target -->
    <target xsi:type="File"
            name="file"
            fileName="${logDirectory}/volumekeeper.log"
            layout="${springBootLayout}"
            archiveFileName="${logDirectory}/archives/volumekeeper_{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="10485760"
            archiveOldFileOnStartup="true"
            maxArchiveFiles="10"
            maxArchiveDays="7"
            keepFileOpen="true"
            autoFlush="false"
            openFileFlushTimeout="30"
            createDirs="true" />
  </targets>

  <rules>
    <!-- Log everything to console and file at Debug level and above -->
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
